
body {
    background-image: repeating-linear-gradient(
        rgb(90, 64, 45) 0 0.3rem,
        rgb(201, 144, 106) 0.3rem 0.6rem
    );
}

.cookie_container {
    cursor: pointer;
    position: absolute;
    text-align: center;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.menu_icon {
    cursor: pointer;

    height: 2%;
    width: 2%;

    top: 2%;
    left: 2%;
}

.close_menu {
    cursor: pointer;
    position: absolute;

    height: 4%;
    width: 13%;

    top: 1%;
    right: 2%;
}

.objective {
    align-items: flex-start;
}

.completed {
    list-style-image: url('assets/images/checkbox-checked-regular-24.png');
}

.objectives_list {
    list-style-image: url('assets/images/checkbox-regular-24.png');
}

.content_holder {
    background: rgb(179, 135, 104);
    top: 0;
    left: 0;

    margin-top: 20%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.objective_text {
    font-family: "Arial";
    font-size: large;

    top: 0;

    -webkit-text-fill-color: white;
}

.menu_text {
    position: absolute;
    text-align: center;
    top: 1%;
    left: 10%;
    font-family: "Arial";
    font-size: xx-large;

    -webkit-text-fill-color: white;
}

.cookie {
    cursor: pointer;

    text-align: center;
    align-items: center;

    position: relative;

    top: 25%;

    animation: grow 0.4s linear;
}

.sidebar {
    position: absolute;
    background: rgb(148, 110, 83);
    top: 0;
    left: -100%;
    height: 100%;
    width: 15%;
    box-shadow: 0 5px 5px rgb(51, 36, 26);
    transition: all 0.5s ease;
}

.sidebar.open {
    left: 0;
}

.main_text {
    position: relative;

    text-align: center;

    font-family: "Arial";
    font-size: large;

    -webkit-text-fill-color: white;

    top: 30%;
    right: 18.5%;

    overflow: hidden;
    border-right: .15em solid rgba(255, 166, 0, 0.719);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 1s steps(40, end),
        blink-caret .75s step-end infinite;
}

.cookie_particle {
    opacity: 0;
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
}

.score {
    position: relative;

    text-align: center;

    font-family: "Arial";

    font-size: xx-large;

    -webkit-text-fill-color: white;

    right: 18.5%;
    top: 2%;
}

.cookie_clicked {
    cursor: pointer;

    --current-rotation : 0deg;

    position: relative;

    top: 25%;

    animation: click 0.2s linear;
}

@keyframes typing {
    from { width: 0 }
    to { width: 75% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(255, 166, 0, 0.719); }
}

@keyframes click {
    0% {
        transform: scale(1);
        rotate : var(--current-rotation);
        text-align: center;
        align-items: center;

        position: relative;

        top: 25%;
    } 
    10% {
        transform: scale(1.1);
        rotate : var(--current-rotation);
        text-align: center;
        align-items: center;

        position: relative;

        top: 25%;
    }
    100% {
        transform: scale(1);
        rotate : var(--current-rotation);
        text-align: center;
        align-items: center;

        position: relative;

        top: 25%;
    }
}

@keyframes grow {

    0% {
        transform: scale(0);
        opacity: 0;
    } 
    68% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}