
body {
    background-color: burlywood;
}

.cookie {
    cursor: pointer;
    animation: cookie_apear 1s linear 1;
}

@keyframes cookie_apear {

    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}