
body {
    background: radial-gradient(burlywood, chocolate);
}

.cookie_container {
    cursor: pointer;

    position: absolute;
    top: 20%;
    left: 35%;
}

.cookie {
    cursor: pointer;

    animation: grow 0.4s linear;
}

.main_text {
    position: absolute;

    text-align: center;

    font-family: "Arial";
    font-size: large;

    -webkit-text-fill-color: white;

    top: 110%;
    left: 23%;
}

.cookie_particle {
    opacity: 0;
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
}

.score {
    position: absolute;

    text-align: center;

    font-family: "Arial";

    -webkit-text-fill-color: white;

    top: -10%;
    left: 50%;
}

.cookie_clicked {
    cursor: pointer;

    --current-rotation : 0deg;

    animation: click 0.2s linear;
}

@keyframes click {
    0% {
        transform: scale(1);
        rotate : var(--current-rotation);
    } 
    10% {
        transform: scale(1.1);
        rotate : var(--current-rotation);
    }
    100% {
        transform: scale(1);
        rotate : var(--current-rotation);
    }
}

@keyframes grow {

    0% {
        transform: scale(0);
        opacity: 0;
    } 
    68% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}